<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incept Cycle</title>
</head>
<body>
        {% for post in posts %}

            <div class="post">
                <a href="{% url 'core_pg' post.user.nick %}">{{post.user.nick}}</a>
                <img class="img-post" src="data:image/png;base64,{{ post.image }}" alt="{{ post.description }}">
                <a href="{% url 'like' post.id %}">{{post.likes_set.count}}</a>
                <button id="like">{{post.likes_set.count}}</button>
                <p>{{post.date}}</p>
                <p>{{post.description}}</p>
                <form action="{%url 'comment' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="comment-content" placeholder="digite seu comentário">
                    <button type="submit"></button>
                </form>
                {% for comment in comments %}
                    {% if comment.post_id == post.id %}
                    <div class="comment">
                       <a href="{% url 'core_pg' user.nick %}">{{comment.user.nick}}</a>
                        <p class="c-content">{{comment.content}}</p>
                        <p class="date">{{comment.date}}</p>
                    </div>

                    {% endif %}
                {% endfor %}

                {% if request.user.nick == user.nick %}
                    <a href="{% url 'delete_post' post.id %}">delete post</a>
                {% endif %}
            </div>
        {% endfor %}
</body>
</html>