<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incept Explore</title>
    <style>
    </style>
</head>
<body>
    <div class="side-menu">
        <h2>-Incept.</h2>
    </div>
    <form action ='{% url "search_user" %}' method="GET">
        {% csrf_token %}
        <input name="search" placeholder="Looking for something new?" value="{{ search }}">
        <button type="submit"></button>
    </form>
    <div class="answer">
        {% for user in users %}
        <div class="user">
            <div class="profileandnick">
                <div class="profile-circle"><div class="core-picture"><img src="data:image/png;base64, {{ user.core_picture }}"></div></div>
                <a href="{% url 'core_pg' user.nick %}">@{{ user.nick }}</a>
            </div>
            <a href="{% url 'follow' user.user_id %}">+seguir</a>
        </div>
        {% empty %}
        {% endfor %}
    </div>
    <div class="profiles" id="essa parte deveria scrollar">
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>
        <div class="profile"></div>

    </div>
    <div class="feed">
        {% for post in posts %}
            <div class="post">
                <a href="{% url 'core_pg' user.nick %}">{{post.user.nick}}</a>
                <img class="img-post" src="data:image/png;base64,{{ post.image }}" alt="{{ post.description }}">
                <a href="{% url 'like' post.id %}">{{post.likes_set.count}}</a>
                <p>{{post.date}}</p>
                <p>{{post.description}}</p>
                <form action="{%url 'comment' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="comment-content" placeholder="digite seu comentário">
                    <button type="submit"></button>
                </form>
                {% for comment in comments %}
                    {% if comment.post_id == post.id %}
                    <div class="comment">
                       <a href="{% url 'core_pg' user.nick %}">{{comment.user.nick}}</a>
                        <p class="c-content">{{comment.content}}</p>
                        <p class="date">{{comment.date}}</p>
                    </div>

                    {% endif %}
                {% endfor %}

                {% if perfil_user.nick == user.nick %}
                    <a href="{% url 'delete_post' post.id %}">delete post</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</body>
</html>